@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-900 font-body px-5;
    }
}

@layer components {
    .page-container {
        max-width: 1280px;
        margin: 0 auto;
    }
    .movie-tag {
        max-width: 200px;
        padding: 6px 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        background-color: transparent;
    }
    .movie-list .swiper-slide{
        width: 100%;
        height: auto;
        

    }
    .banner .swiper{
        height: 100%;
    }
    .similar-movie .swiper-slide{
        width: 100%;
        height: auto;
    }
    .pagination-container {
        margin: 10px 0px;
    }
    .pagination-container .movie-pagination{
        color:#fff;
        display: flex;
        justify-content: center;
        .selected {
            @apply bg-primary;
            border-radius: 12px;
        }
    }

    .movie-pagination li {
        padding: 8px;
        margin: 0 4px;
        
    }
    .movie-pagination li a {
        padding: 5px 10px;
        border-radius: 12px;
        color: #fff
    }
    .movie-pagination li:hover {
        @apply bg-slate-800;
        border-radius: 12px;
    }
}